.my-desc {
    height: 25px;
    overflow-y: scroll;
}

.my-body {
    height: 100px;
    overflow-y: scroll;
}

::placeholder {
    text-align: center; 
}

/* #id_rating {
    display: flex;
} */

.rating {
    display: inline-flex;
    column-gap: 20px;
}
