{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="offset-2 col-8">
    <h3 class="text-center">Modifier votre ticket</h3>
    <form action="{% url 'bookreview:edit_ticket' ticket.id %}" method='post' enctype="multipart/form-data">
      {% include 'bookreview/partials/form_ticket_snippet.html' %}
      {% if ticket.image.name %}
        <img src="{{ ticket.image.url }}" alt="">
      {% endif %} 
      <div class="text-end">
        <button type='submit' class="btn btn-secondary px-5">Envoyer</button>
        <a href="{% url 'bookreview:posts' %}" class="btn btn-secondary px-5">Annuler</a>
      </div>
    </form>
  </div>
</div>

{% endblock content %}
