{% extends 'base.html' %}
{% load bookreview_extras %}

{% block content %}

<section class="mb-3">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <a href="{% url 'bookreview:new_ticket' %}" class="btn btn-secondary px-5">Demander une critique</a>
      </div>
      <div class="col text-center">
        <a href="{% url 'bookreview:new_review_one_step' %}" class="btn btn-secondary px-5">Créer une critique</a>
      </div>
    </div>
  </div>
</section>

<div class="container">
{% for post in page_posts %}
  {% if post.content_type == 'TICKET' %}
  <div class="card mx-5 mb-3">
    <div class="card-body">
      {% include 'bookreview/partials/show_ticket_snippet.html' with ticket_in_review="False" page="home" %}
    </div>
  </div>
  {% elif post.content_type == 'REVIEW' %}
  <div class="card mx-5 mb-3">
    <div class="card-body">
      {% include 'bookreview/partials/show_review_snippet.html' %}
      <div class="row mt-3 me-5">
        <div class="card mx-5 mb-3">
          <div class="card-body">
            {% include 'bookreview/partials/show_ticket_snippet.html' with post=post.ticket ticket_in_review="True" page="home" %}
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}
</div>
{% include 'bookreview/partials/paging_snippet.html' %}
  
{% endblock content %}

