{% extends 'base.html' %}
{% load bookreview_extras %}
{% block content %}

  <h1>Bienvenue {{ user.username }}</h1>

  <a href="{% url 'bookreview:new_ticket' %}">Demander une critique</a>
  <a href="{% url 'bookreview:new_review_one_step' %}">Créer une critique</a>

  {% for post in posts %}
    {% if post.content_type == 'TICKET' %}
      {% include 'bookreview/partials/ticket_snippet.html' %}
      {% if not post|already_reviewed:user %}
        <a href="{% url 'bookreview:new_review' post.id %}">Créer une critique</a>
      {% endif %}
    {% elif post.content_type == 'REVIEW' %}
      {% include 'bookreview/partials/review_snippet.html' %}
    {% endif %}
  {% endfor %}
  
{% endblock content %}
