{% extends 'base.html' %}
{% load bookreview_extras %}
{% block content %}

  <h1>Bienvenue {{ user.username }}</h1>

  <a href="{% url 'bookreview:new_ticket' %}">Demander une critique</a>

  {% for post in posts %}
    {% if post.content_type == 'TICKET' %}
      {% comment %} {% include 'ticket_snippet.html' %} {% endcomment %}
      <hr />
      <p>Ticket du {{ post.time_created }} par {{ post.user.username }}</p>
      <p>{{ post.title }}</p>
      {% if not post|already_reviewed:user %}
        <a href="{% url 'bookreview:new_review' post.id %}">Créer une critique</a>
      {% endif %}
    {% elif post.content_type == 'REVIEW' %}
      {% comment %} {% include 'review_snippet.html' %} {% endcomment %}
      <hr />
      <p>Critique du {{ post.time_created }} par {{ post.user.username }}</p>
      <p>{{ post.headline }} - {{ post.rating }} / 5</p>
      {% if post.user == user %}
        <a href="{% url 'bookreview:edit_review' post.id %}">Modifier la critique</a>
      {% endif %}
      <p>en réponse à : "{{ post.ticket.title }}" de "{{ post.ticket.user.username }}"</p>
    {% endif %}
  {% endfor %}
  
{% endblock content %}
