{% extends 'base.html' %}

{% block content %}
  <h1>Créer une critique</h1>

  <form action="{% url 'bookreview:new_review' ticket.id %}" method='post'>
    {% csrf_token %}
    <p>Vous êtes en train de poster en réponse à</p>
    {% include 'bookreview/partials/ticket_snippet.html' with post=ticket page="new_review" %}
    <h2>Critique</h2>
    {{ form.as_div }}
    <button type='submit'>Envoyer</button>
  </form>
  <form action="{% url 'bookreview:home' %}">
    {% csrf_token %}
    <button type='submit'>Annuler</button>
  </form>

{% endblock content %}
