{% extends 'base.html' %}
{% load bookreview_extras %}
{% block content %}

  <h1>Vos posts</h1>

  {% for post in page_posts %}
    {% if post.content_type == 'TICKET' %}
      {% include 'bookreview/partials/ticket_snippet.html' with page="posts" %}
      <a href="{% url 'bookreview:edit_ticket' post.id %}">Modifier le ticket</a>
      <a href="{% url 'bookreview:delete_ticket' post.id %}">Supprimer le ticket</a>
    {% elif post.content_type == 'REVIEW' %}
      {% include 'bookreview/partials/review_snippet.html' %}
      <a href="{% url 'bookreview:edit_review' post.id %}">Modifier la critique</a>
      <a href="{% url 'bookreview:delete_review' post.id %}">Supprimer la critique</a>
      <p>en réponse à : "{{ post.ticket.title }}" de "{{ post.ticket.user.username }}"</p>
    {% endif %}
  {% endfor %}

  {% include 'bookreview/partials/paging_snippet.html' %}
  
{% endblock content %}
