{% extends 'base.html' %}

{% block content %}

  <h2>Connectez-vous</h2>
  {% if form.errors %}
    <p>Votre nom d'utilisateur et votre mot de passe ne correspondent pas. Veuillez réessayer.</p>
  {% endif %}

  {% comment %} <p>{{ message }}</p> {% endcomment %}

  <form action="{% url 'accounts:login' %}" method="post">
    {% csrf_token %}
    {{ form.as_div }}
    <button type="submit" >Se connecter</button>
  </form>
  <p><strong>Pas de compte</strong></p>
  <a href="{% url 'accounts:register' %}">Inscrivez-vous maintenant</a>

{% endblock content %}
