{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <h2>Inscrivez-vous</h2>
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}

    <form action="{% url 'accounts:register' %}" method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <button type="submit" >S'inscrire</button>
    </form>

    <form action="{% url 'accounts:login' %}">
        <input type="submit" value="Retourner">
    </form>

{% endblock content %}

<a href="{% url 'accounts:register' %}" class="btn btn-secondary px-5">S'inscrire</a>