{% load static %}

<html>
  <head>
    <title>LITReview</title>
       <link rel="stylesheet" href="{% static 'bookreview/style.css' %}" />
  </head>
  <body>
    <header>
      <h1>LITReview</h1>
      {% if user.is_authenticated %}
        <nav>
          <ul>
            <li><a href="{% url 'bookreview:home' %}">Flux</a></li>
            <li><a href="{% url 'bookreview:posts' %}">Posts</a></li>
            <li><a href="{% url 'bookreview:subscriptions' %}">Abonnements</a></li>
            <li>
              <form action="{% url 'accounts:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Se déconnecter</button>
              </form>
            </li>
          </ul>
        </nav>
      {% endif %}
    </header> 
      <div id="page_block">
        {% block content %}
        {% endblock content %}
      </div>
  </body>
</html>
